name: CI

on: [push]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: ["12"]
    runs-on: ${{ matrix.os }}
    name: ${{matrix.os }} - node_${{matrix.node}}
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node}}

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Caching node_modules
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ matrix.os }}-${{ matrix.node }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.node }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Lint
        run: yarn format

      # - name: Typecheck
      #   run: yarn tsc

      - name: Build
        run: yarn build

      - name: Unittests
        run: yarn test:unit

      - name: Integration tests
        run: yarn test:e2e:ci
